//color
$bodyBackground: #1e2d3b;
$backgroundDark: #2e3a46;
$colorWhite: white;

//width
$containerWidth: 1200px;
//height
$headerHeight: 70px;
$heightLogo: 50px;

//padding e margin
$paddingMain:100px;
$marginCard: 30px;